#root {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  /* For mobile phones: */
  #root {
    padding: 0;
  }
}